.all-access-promo {
	position: relative;
	padding-top: 288px;
	padding-bottom: 45px;
	&__bg {
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		z-index: 1;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__wrap {
		position: relative;
		z-index: 10;
	}
	&__subtitle {
		max-width: 640px;
		font-size: 28px;
		line-height: 120%;
		color: #ffffff;
		margin-top: 48px;
		margin-bottom: 48px;
	}
	&__video {
		position: absolute;
		width: 800px;
		top: -200px;
		right: -100px;
	}
	&__img {
		position: absolute;
		height: 626px;
		top: -110px;
		right: 30px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
@media (max-width: 1500px) {
	.all-access-promo {
		&__img {
			height: 550px;
			top: -80px;
		}
	}
}
@media (max-width: 1420px) {
	.all-access-promo {
		&__title {
			font-size: 116px;
		}
	}
}
@media (max-width: 1320px) {
	.all-access-promo {
		padding-top: 200px;
		&__title {
			font-size: 92px;
		}
		&__subtitle {
			max-width: 525px;
			font-size: 24px;
			margin-top: 32px;
			margin-bottom: 32px;
		}
		&__img {
			height: 400px;
			top: -50px;
		}
	}
}
@media (max-width: 1010px) {
	.all-access-promo {
		padding-top: 200px;
		&__title {
			font-size: 68px;
		}
		&__subtitle {
			max-width: 450px;
			font-size: 20px;
		}
		&__img {
			height: 350px;
			top: -35px;
			right: -15px;
		}
	}
}
@media (max-width: 760px) {
	.all-access-promo {
		padding-top: 153px;
		&__title {
			font-size: 48px;
		}
		&__subtitle {
			font-size: 18px;
		}
		&__img {
			height: 350px;
			top: 0;
			right: 0;
			position: relative;
			margin-top: 44px;
		}
	}
}

.all-access-info {
	position: relative;
	padding-top: 326px;
	padding-bottom: 285px;
	&__bg {
		position: absolute;
		width: 1100px;
		height: 844px;
		right: calc(50% - 1200px);
		top: calc(50% - 330px);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__wrap {
		position: relative;
		display: flex;
		justify-content: flex-end;
		padding-right: 132px;
	}
	&__video {
		position: absolute;
		width: 685px;
		top: calc(50% - 535px);
		left: 5px;
	}
	&__box {
		max-width: 772px;
		position: relative;
		z-index: 10;
	}
	&__title {
		text-transform: capitalize;
		letter-spacing: 0;
	}
	&__subtitle {
		margin-top: 88px;
		margin-bottom: 52px;
		p {
			font-weight: 400;
			font-size: 23px;
			line-height: 120%;
			color: #ffffff;
		}
		p + p {
			margin-top: 24px;
		}
	}
}
@media (max-width: 1500px) {
	.all-access-info {
		&__wrap {
			padding-right: 0;
		}
	}
}
@media (max-width: 1420px) {
	.all-access-info {
		&__video {
			width: 560px;
			top: calc(50% - 400px);
			left: -25px;
		}
	}
}
@media (max-width: 1320px) {
	.all-access-info {
		padding-top: 160px;
		padding-bottom: 144px;
		&__box {
			max-width: 600px;
		}
		&__subtitle {
			margin-top: 50px;
			margin-bottom: 42px;
			p {
				font-size: 21px;
			}
		}
		&__video {
			width: 480px;
			top: calc(50% - 330px);
			left: -55px;
		}
		&__bg {
			width: 900px;
			height: 690px;
			right: calc(50% - 850px);
			top: calc(50% - 280px);
		}
	}
}
@media (max-width: 1010px) {
	.all-access-info {
		padding-top: 96px;
		padding-bottom: 96px;
		&__wrap {
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&__subtitle {
			p {
				font-size: 20px;
			}
		}
		&__video {
			width: 100%;
			top: 0;
			left: 0;
			position: relative;
			margin-top: -110px;
			margin-bottom: -144px;
		}
		&__bg {
			display: none;
		}
	}
}
@media (max-width: 760px) {
	.all-access-info {
		&__subtitle {
			margin-top: 40px;
			margin-bottom: 40px;
			p {
				font-size: 18px;
			}
			p + p {
				margin-top: 18px;
			}
		}
		&__video {
			margin-top: -20px;
			margin-bottom: -72px;
		}
	}
}

.all-access-nft {
	padding-bottom: 220px;
	&__title {
		text-align: center;
		text-transform: capitalize;
	}
	&__container {
		position: relative;
		padding: 125px 30px 0;
	}
	&__swiper {
		overflow: hidden;
		margin: 0px -20px;
		padding: 0px 20px;
	}
	.swiper-container-horizontal > .swiper-scrollbar {
		left: calc(50% - 190px);
		bottom: -123px;
		z-index: 50;
		height: 2px;
		width: 380px;
		background: rgba(255, 255, 255, 0.1);
	}
	.swiper-scrollbar-drag {
		background: #fff;
		cursor: pointer;
	}
}
@media (max-width: 1320px) {
	.all-access-nft {
		padding-bottom: 144px;
		&__container {
			padding: 80px 0px 0;
		}
		.swiper-container-horizontal > .swiper-scrollbar {
			bottom: -70px;
		}
	}
}
@media (max-width: 1010px) {
	.all-access-nft {
		padding-bottom: 96px;
		position: relative;
		.swiper-container-horizontal > .swiper-scrollbar {
			bottom: -45px;
		}
	}
}
@media (max-width: 760px) {
	.all-access-nft {
		.swiper-container-horizontal > .swiper-scrollbar {
			left: 0px;
			width: 100%;
		}
	}
}

.all-access-subscribe {
	margin-bottom: 178px;
	&__body {
		position: relative;
		z-index: 2;
		padding-top: 91px;
		padding-bottom: 84px;
	}
	&__bg {
		position: absolute;
		width: calc(100% - 50px);
		height: 100%;
		top: 0px;
		left: 25px;
		.behind,
		.top {
			position: absolute;
			width: 100%;
			height: 93%;
			clip-path: polygon(
				0 0,
				calc(100% - 12px) 0,
				calc(100% - 6px) 6px,
				100% 12px,
				100% 100%,
				12px 100%,
				6px calc(100% - 6px),
				0 calc(100% - 12px)
			);
			z-index: -1;
			background-color: #16151a;
			transition: all 0.3s;
		}
		.behind {
			top: 0;
			right: 25px;
		}
		.top {
			bottom: -5px;
			left: 15px;
		}
	}
	&__background {
		position: absolute;
		bottom: -5px;
		right: -15px;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__wrap {
		position: relative;
		z-index: 10;
	}
	&__top {
		text-align: center;
	}
	&__subtitle {
		font-size: 22px;
		line-height: 120%;
		color: #ffffff;
		margin-top: 8px;
	}
	&__icon {
		position: absolute;
		z-index: 2;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&--1 {
			top: -9px;
			left: 102px;
			transform: rotate(-16deg);
		}
		&--2 {
			top: 46px;
			right: 105px;
			transform: rotate(0deg);
		}
		&--3 {
			bottom: -80px;
			right: 166px;
			transform: rotate(42deg);
			width: 330px;
		}
	}
}
@media (max-width: 1320px) {
	.all-access-subscribe {
		margin-bottom: 120px;
		&__icon {
			&--1 {
				top: -8px;
				left: 50px;
				width: 180px;
			}
			&--2 {
				top: 25px;
				right: 65px;
				width: 210px;
			}
			&--3 {
				bottom: -65px;
				right: 65px;
				transform: rotate(40deg);
				width: 280px;
			}
		}
	}
}
@media (max-width: 1010px) {
	.all-access-subscribe {
		margin-bottom: 96px;
		&__body {
			padding-top: 64px;
			padding-bottom: 64px;
		}
		&__icon {
			&--1 {
				top: -30px;
				left: 20px;
				width: 140px;
			}
			&--2 {
				top: 5px;
				right: 25px;
				width: 180px;
			}
			&--3 {
				bottom: -65px;
				right: 15px;
				width: 240px;
			}
		}
	}
}
@media (max-width: 760px) {
	.all-access-subscribe {
		&__body {
			padding: 42px 20px;
		}
		&__wrap {
			position: relative;
		}
		&__subtitle {
			font-size: 18px;
			margin-top: 12px;
		}
		&__icon {
			display: none;
		}
		&__bg {
			width: calc(100% - 25px);
			left: 12px;
			.behind {
				top: 0;
				right: 12px;
			}
		}
	}
}

.all-access-form {
	width: 510px;
	margin: 60px auto 0px;
	&__body {
		display: flex;
		justify-content: space-between;
	}
	&__field {
		width: calc(100% - 120px);
		font-weight: 400;
		font-size: 22px;
		line-height: 120%;
		color: rgba(255, 255, 255, 1);
		padding: 18px;
		background: rgba(255, 255, 255, 0.1);
		border: 1px solid rgba(255, 255, 255, 0.1);
		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		&::-moz-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		&:-moz-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.8);
		}
		&:focus {
			border-color: #6331f5;
			color: rgba(255, 255, 255, 1);
		}
	}
	&__desc {
		max-width: 362px;
		text-align: center;
		margin: 24px auto 0px;
		font-size: 15px;
		line-height: 120%;
		color: #868686;
	}
	.btn {
		cursor: pointer;
		&__container {
			height: 100%;
		}
		.behind,
		.top {
			height: 82%;
		}
		.top {
			bottom: 0px;
			left: 0px;
		}
		.behind {
			top: -1px;
			right: 12px;
		}
		.text {
			top: 4px;
			left: 38%;
		}
	}
}
@media (max-width: 1320px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
	.all-access-form {
		width: 100%;
		margin: 24px auto 0;
		max-width: 560px;
		&__body {
			justify-content: center;
			flex-wrap: wrap;
		}
		&__field {
			width: 100%;
			font-size: 18px;
			padding: 16px;
			margin-bottom: 16px;
		}
		.btn {
			width: calc(100% - 14px);
			position: relative;
			left: 5px;
			.text {
				top: 0px;
				left: 46%;
			}
		}
	}
}
