.contacts-top {
	margin-bottom: 152px;
	&__wrap {
		max-width: 1300px;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 68px;
		line-height: 100%;
		color: #868686;
		margin-top: 16px;
	}
}

.contacts-info {
	margin-bottom: 128px;
	&__tow {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__coll {
		width: calc(50% - 12px);
	}
	&__desc {
		font-weight: 400;
		font-size: 72px;
		line-height: 120%;
		color: #ffffff;
	}
	&__link {
		display: inline-flex;
		font-weight: 400;
		font-size: 72px;
		line-height: 120%;
		color: #ffffff;
		position: relative;
		transition: all 0.5s ease;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			background-color: #ffffff;
			transform-origin: bottom left;
			transform: scaleX(1);
			transition: transform 0.5s ease;
		}
		&:hover {
			&::before {
				transform-origin: bottom right;
				transform: scaleX(0);
			}
		}
	}
	&__img {
		margin-top: 150px;
		margin-bottom: 120px;
		img {
			min-height: 300px;
		}
	}
	.btn {
		margin-top: 56px;
	}
}

.contacts-folow {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__items {
		width: 772px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 48px 0px;
		border-top: 1px solid rgba(255, 255, 255, 0.15);
		&:last-child {
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
		}
		&:hover {
			.contacts-folow {
				&__caption {
					font-family: "TTHovesItalic", sans-serif;
					font-weight: 300;
				}
			}
		}
	}
	&__caption {
		font-size: 40px;
		line-height: 100%;
		letter-spacing: -0.005em;
		color: #ffffff;
	}
	&__value {
		font-family: "Roboto Mono", sans-serif;
		font-size: 14px;
		line-height: 110%;
		text-transform: uppercase;
		color: #868686;
	}
}
@media (max-width: 1420px) {
	.contacts-info {
		&__desc,
		&__link {
			font-size: 58px;
		}
	}
}
@media (max-width: 1320px) {
	.contacts-top {
		margin-bottom: 120px;
		&__subtitle {
			font-size: 48px;
		}
	}
	.contacts-info {
		margin-bottom: 96px;
		&__desc,
		&__link {
			font-size: 44px;
		}
		&__img {
			margin-top: 120px;
			margin-bottom: 120px;
		}
	}
	.contacts-folow {
		&__items {
			width: 660px;
		}
		&__item {
			padding: 40px 0;
		}
		&__caption {
			font-size: 32px;
		}
	}
}
@media (max-width: 1010px) {
	.contacts-top {
		margin-bottom: 96px;
		&__subtitle {
			font-size: 38px;
		}
	}
	.contacts-info {
		margin-bottom: 96px;
		&__desc,
		&__link {
			font-size: 35px;
		}
		&__img {
			margin-top: 96px;
			margin-bottom: 96px;
		}
		.btn {
			margin-top: 32px;
		}
	}
	.contacts-folow {
		&__items {
			width: 100%;
			margin-top: 40px;
		}
	}
}
@media (max-width: 760px) {
	.contacts-top {
		margin-bottom: 92px;
		&__title {
			font-size: 35px;
		}
		&__subtitle {
			font-size: 35px;
		}
	}
	.contacts-info {
		&__coll {
			width: 100%;
			& + & {
				margin-top: 60px;
			}
		}
		&__desc,
		&__link {
			line-height: 100%;
		}
		&__img {
			margin-top: 100px;
			margin-bottom: 96px;
		}
		.btn {
			margin-top: 36px;
			width: auto;
		}
	}
	.contacts-folow {
		&__title {
			font-size: 35px;
			line-height: 100%;
		}
		&__item {
			padding: 40.5px 0;
		}
		&__caption {
			font-size: 25px;
		}
	}
}
