.main-services {
	padding-bottom: 240px;
	&__row {
		margin-top: 120px;
		position: relative;
	}
	&__card {
		position: relative;
		width: 100%;
		height: 640px;
		background: linear-gradient(124.2deg, #14131b 22.78%, #11082c 99.58%);
		display: flex;
		align-content: space-between;
		flex-wrap: wrap;
		padding: 56px 48px;
		overflow: hidden;
		margin-right: 24px;
		box-sizing: border-box;
		/*&:first-child {
			margin-left: 20px;
		}*/
		&:hover {
			.main-services {
				&__bg {
					opacity: 1;
					transition: all 0.3s;
				}
			}
		}
	}
	&__top {
		width: 100%;
		position: relative;
		z-index: 10;
	}
	&__bottom {
		width: 100%;
		position: relative;
		z-index: 10;
	}
	&__number {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		text-transform: uppercase;
		color: #ffffff;
		opacity: 0.5;
		margin-bottom: 24px;
	}
	&__desc {
		font-weight: 300;
		font-size: 19px;
		line-height: 140%;
		color: #ffffff;
	}
	&__bg {
		position: absolute;
		width: 1000px;
		height: 740px;
		top: -270px;
		left: -235px;
		z-index: 1;
		opacity: 0;
		transition: all 0.3s;
	}
	.swiper-container-horizontal > .swiper-scrollbar {
		left: calc(50% - 190px);
		bottom: -123px;
		z-index: 50;
		height: 2px;
		width: 380px;
		background: rgba(255, 255, 255, 0.1);
	}
	.swiper-scrollbar-drag {
		background: #fff;
		cursor: pointer;
	}
}
@media (max-width: 1320px) {
	.main-services {
		padding-bottom: 150px;
		&__row {
			margin-top: 80px;
		}
		&__card {
			height: 500px;
			padding: 32px 24px;
			margin-right: 24px;
		}
		&__number {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 24px;
		}
		&__desc {
			font-size: 17px;
		}
		.swiper-container-horizontal > .swiper-scrollbar {
			bottom: -70px;
		}
	}
}
@media (max-width: 1010px) {
	.main-services {
		padding-bottom: 96px;
		&__row {
			margin-top: 40px;
		}
		&__card {
			height: 500px;
			padding: 32px 24px;
			margin-right: 20px;
		}
		&__number {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: 24px;
		}
		&__desc {
			font-size: 17px;
		}
		.swiper-container-horizontal > .swiper-scrollbar {
			bottom: -45px;
		}
	}
}
@media (max-width: 760px) {
	.main-services {
		&__title {
			br {
				display: none;
			}
		}
		&__card {
			height: 400px;
		}
		&__number {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 24px;
		}
		&__desc {
			font-size: 16px;
			line-height: 138%;
		}
		.swiper-container-horizontal > .swiper-scrollbar {
			left: 0px;
			width: 100%;
		}
	}
}
