.privacy-page {
	&__wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__title {
		max-width: 480px;
	}
	&__container {
		width: 905px;
	}
	&-accordion {
		position: relative;
		padding-top: 48px;
		padding-bottom: 168px;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			top: 0px;
			left: 0px;
			background: linear-gradient(42.18deg, #2697ff 14.53%, #6431f5 32.7%, #6431f5 42.82%, #f53e15 97.84%);
		}
		&__top {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
		}
		&__caption {
			font-weight: 500;
			font-size: 40px;
			line-height: 100%;
			letter-spacing: -0.005em;
			color: #ffffff;
		}
		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			position: relative;
			span {
				display: block;
				width: 100%;
				height: 2px;
				background-color: #868686;
				transition: all 0.3s;
				&:last-child {
					position: absolute;
					transform: rotate(90deg);
				}
			}
		}
		&__container {
			margin-top: 80px;
			display: none;
		}
		&__text {
			p {
				font-weight: 400;
				font-size: 20px;
				line-height: 140%;
				color: #ffffff;
				strong {
					font-weight: 700;
				}
			}
			p + p {
				margin-top: 24px;
			}
			ul {
				padding-top: 24px;
				li {
					font-weight: 400;
					font-size: 20px;
					line-height: 140%;
					color: #ffffff;
					position: relative;
					padding-left: 30px;
					&::before {
						content: "";
						position: absolute;
						width: 4px;
						height: 4px;
						top: 13px;
						left: 13px;
						background-color: #ffffff;
						border-radius: 50%;
					}
				}
				li + li {
					margin-top: 16px;
				}
			}
			& + & {
				margin-top: 48px;
			}
		}
		&.active {
			.privacy-page {
				&-accordion {
					&__icon {
						span {
							&:last-child {
								transform: rotate(0deg);
								transition: all 0.3s;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1500px) {
	.privacy-page {
		&__container {
			width: 750px;
		}
	}
}
@media (max-width: 1320px) {
	.privacy-page {
		&__title {
			max-width: 350px;
		}
		&__container {
			width: 100%;
			margin-top: 88px;
		}
	}
}
@media (max-width: 1010px) {
	.privacy-page {
		margin-bottom: 94px;
		&__title {
			max-width: 280px;
		}
		&-accordion {
			padding-top: 40px;
			padding-bottom: 40px;
			&__container {
				margin-top: 40px;
			}
			&__text {
				p {
					font-size: 18px;
				}
				p + p {
					margin-top: 20px;
				}
				ul {
					padding-top: 20px;
					li {
						font-size: 18px;
					}
					li + li {
						margin-top: 12px;
					}
				}
				& + & {
					margin-top: 32px;
				}
			}
		}
	}
}
@media (max-width: 760px) {
	.privacy-page {
		margin-bottom: 94px;
		&__title {
			max-width: 180px;
		}
		&-accordion {
			&__caption {
				font-weight: 400;
				font-size: 24px;
			}
			&__icon {
				width: 20px;
				height: 20px;
			}
			&__text {
				p {
					font-size: 16px;
					line-height: 138%;
				}
				p + p {
					margin-top: 16px;
				}
				&:first-child {
					p + p {
						margin-top: 23px;
					}
				}
				ul {
					padding-top: 16px;
					li {
						font-size: 16px;
						line-height: 138%;
						padding-left: 24px;
					}
					li + li {
						margin-top: 16px;
					}
				}
				& + & {
					margin-top: 24px;
				}
			}
		}
	}
}
