.promo {
	padding-top: 288px;
	padding-bottom: 50px;
	position: relative;
	margin-bottom: 70px;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
	}
	&__title {
		max-width: 1130px;
		span {
			font-style: italic;
		}
	}
	&__subtitle {
		max-width: 640px;
		margin-top: 50px;
		font-size: 28px;
		line-height: 120%;
		color: #ffffff;
	}
	.wrapper {
		position: relative;
		z-index: 10;
	}
}
@media (max-width: 1320px) {
	.promo {
		padding-top: 200px;
		padding-bottom: 50px;
		margin-bottom: 50px;
		&__title {
			max-width: 800px;
		}
		&__subtitle {
			max-width: 550px;
			font-size: 24px;
		}
	}
}
@media (max-width: 1010px) {
	.promo {
		padding-top: 152px;
		padding-bottom: 96px;
		margin-bottom: 0px;
		&__subtitle {
			max-width: 500px;
			font-size: 22px;
			margin-top: 56px;
		}
	}
}
@media (max-width: 760px) {
	.promo {
		&__subtitle {
			font-size: 20px;
		}
	}
}
