.what-do {
	@media screen and (max-width: 760px) {
		margin-top: -3px;
	}
	&__title {
		margin-bottom: 88px;
		@media screen and (max-width: 1320px) {
			margin-bottom: 60px;
		}
		@media screen and (max-width: 768px) {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 38px;
		}
	}
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, minmax(400px, 507px));
		column-gap: 24px;
		row-gap: 24px;
		@media screen and (max-width: 1500px) {
			grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
		}
		@media screen and (max-width: 575px) {
			grid-template-columns: 1fr;
		}
	}
}
