@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-Light/TTHoves-Light.eot");
	src: url("../fonts/TTHoves-Light/TTHoves-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Light/TTHoves-Light.woff") format("woff"),
		url("../fonts/TTHoves-Light/TTHoves-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-Regular/TTHoves-Regular.eot");
	src: url("../fonts/TTHoves-Regular/TTHoves-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Regular/TTHoves-Regular.woff") format("woff"),
		url("../fonts/TTHoves-Regular/TTHoves-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "TTHovesItalic";
	src: url("../fonts/TTHoves-Light-Italic/TTHoves-Light-Italic.eot");
	src: url("../fonts/TTHoves-Light-Italic/TTHoves-Light-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Light-Italic/TTHoves-Light-Italic.woff") format("woff"),
		url("../fonts/TTHoves-Light-Italic/TTHoves-Light-Italic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "TTHovesItalic";
	src: url("../fonts/TTHoves-Italic/TTHoves-Italic.eot");
	src: url("../fonts/TTHoves-Italic/TTHoves-Italic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Italic/TTHoves-Italic.woff") format("woff"),
		url("../fonts/TTHoves-Italic/TTHoves-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-Medium/TTHoves-Medium.eot");
	src: url("../fonts/TTHoves-Medium/TTHoves-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Medium/TTHoves-Medium.woff") format("woff"),
		url("../fonts/TTHoves-Medium/TTHoves-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-Bold/TTHoves-Bold.eot");
	src: url("../fonts/TTHoves-Bold/TTHoves-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Bold/TTHoves-Bold.woff") format("woff"),
		url("../fonts/TTHoves-Bold/TTHoves-Bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-DemiBold/TTHoves-DemiBold.eot");
	src: url("../fonts/TTHoves-DemiBold/TTHoves-DemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-DemiBold/TTHoves-DemiBold.woff") format("woff"),
		url("../fonts/TTHoves-DemiBold/TTHoves-DemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "TTHoves";
	src: url("../fonts/TTHoves-Black/TTHoves-Black.eot");
	src: url("../fonts/TTHoves-Black/TTHoves-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TTHoves-Black/TTHoves-Black.woff") format("woff"),
		url("../fonts/TTHoves-Black/TTHoves-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Roboto Mono";
	src: url("../fonts/Roboto Mono/Roboto Mono.eot");
	src: url("../fonts/Roboto Mono/Roboto Mono.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto Mono/Roboto Mono.woff") format("woff"),
		url("../fonts/Roboto Mono/Roboto Mono.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter/Inter.eot");
	src: url("../fonts/Inter/Inter.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Inter/Inter.woff") format("woff"), url("../fonts/Inter/Inter.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
