html {
	box-sizing: border-box;
	cursor: default;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
	box-sizing: border-box;
	outline: none;
}

*,
::after,
::before {
	box-sizing: inherit;
}

::selection {
	color: #fff;
	background: #1b64fa;
}

html,
body {
	font-family: "TTHoves", sans-serif;
	color: #ffffff;
	background-color: #03000b;
	margin: 0;
	padding: 0;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat;
}
body {
	overflow-x: hidden;
}
body.lock {
	overflow: hidden;
	height: 100vh;
}

section {
	padding-bottom: 144px;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

h1,
.h1 {
	font-weight: 400;
	font-size: 134px;
	line-height: 100%;
	color: #ffffff;
	&.c-dark {
		color: #0c0424;
	}
}
h2,
.h2 {
	font-weight: 400;
	font-size: 114px;
	line-height: 110%;
	color: #ffffff;
	&.c-dark {
		color: #0c0424;
	}
}
h3,
.h3 {
	font-weight: 400;
	font-size: 88px;
	line-height: 100%;
	color: #ffffff;
	&.c-dark {
		color: #0c0424;
	}
}
h4,
.h4 {
	font-size: 80px;
	line-height: 100%;
	letter-spacing: -0.005em;
	color: #ffffff;
	&.c-dark {
		color: #0c0424;
	}
}
h5,
.h5 {
	font-size: 48px;
	line-height: 100%;
	letter-spacing: -0.005em;
	color: #ffffff;
	&.c-dark {
		color: #0c0424;
	}
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

figure {
	margin: 0 auto;
}

blockquote {
	margin: 0;
}

sup,
sub {
	line-height: 1em;
	font-size: 0.75em;
}

a {
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	transition-property: background-size;
	text-decoration: none;
	cursor: pointer;
}

button,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: url(img/cursor-rect.svg) 25 25, auto;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
	color: inherit;
	text-align: left;
	padding: 0;
	border: 0;
	background-color: transparent;
	margin: 0;

	&[disabled] {
		cursor: initial;
	}
}

/*input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],*/
select,
textarea {
	display: block;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	padding: 0;
	border: 0;
	background-color: transparent;
	margin: 0;
	appearance: none;

	&::placeholder {
		opacity: 1;
	}
}

input {
	&[type="text"],
	&[type="email"],
	&[type="password"],
	&[type="tel"],
	&[type="search"] {
		&::-ms-clear,
		&::-ms-reveal {
			display: none;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}

	&[type="number"] {
		appearance: textfield;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
		}
	}
}

select {
	cursor: pointer;

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	&::-ms-expand {
		display: none;
	}
}

textarea {
	resize: none;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

svg,
use {
	transform: translateZ(0);
	display: block;
}

svg {
	max-width: 100%;
}

hr {
	border: 0;
	height: 1px;
	margin: 0;
	width: 100px;
	background-color: fade(#000, 18%);
}
@media (max-width: 1320px) {
	section {
		padding-bottom: 120px;
	}
	h1,
	.h1 {
		font-size: 92px;
	}
	h2,
	.h2 {
		font-size: 80px;
	}
	h3,
	.h3 {
		font-size: 60px;
	}
	h4,
	.h4 {
		font-size: 50px;
	}
	h5,
	.h5 {
		font-size: 40px;
	}
}
@media (max-width: 1010px) {
	section {
		padding-bottom: 96px;
	}
	h1,
	.h1 {
		font-size: 72px;
	}
	h2,
	.h2 {
		font-size: 64px;
	}
	h3,
	.h3 {
		font-size: 46px;
	}
	h4,
	.h4 {
		font-size: 44px;
	}
	h5,
	.h5 {
		font-size: 40px;
	}
}
@media (max-width: 760px) {
	h1,
	.h1 {
		font-size: 48px;
	}
	h2,
	.h2 {
		font-size: 40px;
	}
	h3,
	.h3 {
		font-size: 32px;
	}
	h4,
	.h4 {
		font-size: 30px;
	}
	h5,
	.h5 {
		font-size: 30px;
	}
}
